{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
    <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="{{ item.link }}">{{ item.item }}</a> <!-- Added btn class for button appearance -->
    </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-5 animated-title">Add a Book</h1>
  {% if submitted %}
    <div class="alert alert-success mt-3" role="alert">
      Book Posted Successfully!
    </div>
  {% else %}
    <form class="mt-4" action="" enctype="multipart/form-data" method="post" novalidate>
      {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="mb-3">
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  {% endif %}
</div>
{% endblock content %}

